<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-hotel"></i><span class="ms-2">StayKaro</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add New Listings</a>
        </div> 
        <div class="navbar-nav ms-auto">
          <%if(!logined_user){%>
            <button class="btn btn-dark" style="margin-right: 10px;"><a class="nav-link  text-light" href="/signup">Singn Up</a></button>
            <button class="btn btn-dark" style="margin-right: 10px; width: 100px;"><a class="nav-link text-light" href="/login">Login</a>   </button>  
          <%}%>
          <%if(logined_user){%>
            <button class="btn btn-danger"><a class="nav-link text-light" href="/logout">Logout</a></button>
          <%}%>
        </div>
    </div>
  </nav>