<% layout('/layouts/boilerplate')%>
    <div class="alert alert-danger d-flex align-items-center justify-content-center mt-3" role="alert">
        <h5 class="card-text">
            <%= message%>
        </h5>
    </div>