<% layout('/layouts/boilerplate')%>
<body>
    <h3>Create New Listings </h3>
    <form action="/listings" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter Catchy Title" class="form-control" required>
            <div class="valid-feedback">Title Looks Good</div>
            <div class="invalid-feedback">Please Enter a Title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="listing[description]" placeholder="Enter Description Here"
                class="form-control" required></textarea>
                <div class="valid-feedback">Description Looks Good</div>  
                <div class="invalid-feedback">Please Enter a Short Description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" name="listing[image]" placeholder="Enter Your Image Link" class="form-control">
            <!-- <input type="file" name="listing[image]" class="form-control"> -->
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="Price" class="form-label">Price</label>
                <input  name="listing[price]" placeholder="Enter Your Price / night" class="form-control" required>
                <div class="valid-feedback">Price Looks Good</div>
                <div class="invalid-feedback">Please Enter a Valid Price</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="Country" class="form-label">Country</label>
                <input type="text" name="listing[country]" placeholder="Enter Your country" class="form-control" required>
                <div class="valid-feedback">Country Looks Good</div>
                <div class="invalid-feedback">Please Enter a valid country</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="Location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Enter Your location" class="form-control" required>
            <div class="valid-feedback">Location Looks Good</div>
            <div class="invalid-feedback">Please Enter a valid location</div>
        </div>
        <button class="btn btn-dark " style="width: 7rem;">Add</button>
        <br><br>
    </form>
</body>
