<% layout('/layouts/boilerplate')%>

    <body>
        <div class="row mt-3">
            <div class="col-6 offset-2">
                <h2>Login on StayKaro</h2>
                <form action="/login" method="POST" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" placeholder="Enter username" class="form-control"
                            required>
                        <div class="valid-feedback">Username Looks Good</div>
                        <div class="invalid-feedback">Please Enter a Username</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" placeholder="Enter Password" class="form-control"
                            required>
                        <div class="valid-feedback">Password Looks Good</div>
                        <div class="invalid-feedback">Please Enter a Password</div>
                    </div>
                    <button class="btn btn-success " style="width: 7rem;">Add</button>
                </form>
            </div>
        </div>
    </body>